<!DOCTYPE html>
<html lang="en">
<head>

<script>
  window.console = window.console || function(t) {};
</script>
        
<script>
if (document.location.search.match(/type=embed/gi)) {
  window.parent.postMessage("resize", "*");
}
</script>

<script>
  $(document).ready(function() {
    $('#example').DataTable();
} );
</script>
        
<style>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>        


<!-- penting -->


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-title" content="CodePen">
<title>Penilaian Quiz</title>

<link rel="stylesheet" href="/asset/styless_penilaian_quiz.css">
<link rel="stylesheet" href="/asset/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/asset/owl.theme.default.css" type="text/css">

<!-- link data table -->   
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap.min.css">

<!--  -->
<link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
<link rel="shortcut icon" type="image/x-icon" href="/image/Group 22.png" />
<link rel="mask-icon" type="" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  

</head>
<%- include('container_mentor'); -%>

      <div class="contents">
        <div class="isi-content">
          <div class="container">

          <div class="judul-content-1" id="judul-content-1">
            <!-- <h3>Dashboard</h3> -->
            <div class="content-1">
              <h1>Penilaian Quiz </h1>
              <h2>Siswa</h2>
              <h1></h1>
            </div>
          </div>
          
          <div class="content-3" id="content-3">
            <h1></h1>
            
            <div class="isi-konten3">
                <% if(nilai.length != 0) { %>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-kelas">
                            <h3 for="" style="margin-bottom: -15px; color: white;">Nama</h3><br>
                            <div class="select">
                                <select name="slct" id="salect_tugas" onchange="show_btn_download()">
                                <option selected disabled>Choose an option</option>
                                <%
                                    nilai.forEach(function(data){
                                %>
                                <option value="<%= data.isi_tugas + ',' + data.id_tugas + '_' + data.username %>"><%= data.nama_depan%></option>
                                <% }); %>
                                
                                </select>
                            </div>
                        </div>
                        <div>
                            <h3 style="margin-bottom: -1px;color: white;">Nilai</h3>
                            <input type="number" id="nilai_ditambah" onkeyup="show_nilai()"></input>
                        </div>
                    </div>
                    <div style="float: right;" >
                        <div class="form-hasil-tugas">
                            <div>
                                <form action="/download_tugas_siswa" id="download_tugas" method="POST" enctype="multipart/form-data">
                                <h3 for="" style="margin-bottom: -15px; color: white;">File Tugas</h3><br>
                                <input type="text" id="label_download_tugas" readonly>
                                <input type="text" name="username" id="" value="<%= nilai[0].username%>" hidden>
                                <input type="text" name="id_materi" id="" value="<%= nilai[0].id_materi%>" hidden>
                                <input type="text" name="download_kelas" id="download_kelas" hidden>
                                <input type="text" name="ini_tugas" id="ini_tugas" hidden>
                                <input type="text" name="download_nilai" id="download_nilai" hidden>
                                <button form="download_tugas" type="submit" >Unduh</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 30px; float: right;">
                        <form action="/update_nilai" id="ubahMateri" method="POST" enctype="multipart/form-data">
                        <input type="text" name="id_materi" id="" value="<%= nilai[0].id_materi%>" hidden>
                        <% if(peljaran.length != 0){%>
                        <input type="text" name="id_pelajaran" id="" value="<%= peljaran[0].id_pelajaran%>" hidden>
                        <% } %>
                        <% if(peljaran.length != 0){%>
                            <input type="text" name="id_kelas" id="" value="<%= kelas[0].id_kelas%>" hidden>
                        <% } %>
                        <input type="text" name="upload_kelas" id="upload_kelas" hidden>
                        <input type="text" name="upload_tugas" id="upload_tugas" hidden>
                        <input type="text" name="upload_nilai" id="upload_nilai" hidden>
                        <input type="text" name="upload_id" id="upload_id" >
                        <button type="submit" form="ubahMateri">Selesai</button>
                        </form>
                    </div>
                    <% } %>
                </div>
            </div>
          

            <%- include('footer'); -%>

          </div>


        </div>
      </div>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>

  function openNav() {
    document.getElementById("judul-content-1").style.marginLeft = "100px";
    document.getElementById("content-3").style.marginLeft = "100px";
    document.getElementById("judul-content-1").style.width = "91%";
    document.getElementById("akhir-kontent-3").style.width = "150px";
    document.getElementById("akhir-kontent-3").style.marginLeft = "66.4%";
  }

  function closeNav() {
      document.getElementById("judul-content-1").style.marginLeft = "0";
      document.getElementById("content-3").style.marginLeft = "0";
      document.getElementById("judul-content-1").style.width = "100%";
      document.getElementById("akhir-kontent-3").style.width = "0";
      document.getElementById("akhir-kontent-3").style.marginLeft = "81%";
  }

  function show_file_materi() {
    var file_m = document.getElementById("fileload1").value;
    document.getElementById("file_materi").value = file_m;
  }

  function show_file_quiz() {
    var file_q = document.getElementById("fileload2").value;
    document.getElementById("file_quiz").value = file_q;
  }

  function show_btn_download() {
    var e = document.getElementById("salect_tugas");
    var hasil = e.options[e.selectedIndex].value;
    var hasil2 = e.options[e.selectedIndex].text;
    var n = hasil.substring( 0, hasil.indexOf(","));
    document.getElementById("label_download_tugas").value = n;
    document.getElementById("download_kelas").value = hasil2;
    // document.getElementById("upload_kelas").value = hasil2;
    document.getElementById("ini_tugas").value = hasil;
    document.getElementById("upload_tugas").value = n;

    var s = hasil;
    s = s.split(',');
    s = s[s.length - 1].trim();
    var n = s;
    p = s.substring( 0, s.indexOf("_"));
    document.getElementById("upload_id").value = p;

    var c = hasil;
    c = c.split(',');
    c = c[c.length - 1].trim();
    c = c.split('_');
    c = c[c.length - 1].trim();
    document.getElementById("upload_kelas").value = c;


  }

  function show_nilai(){
    var q = document.getElementById("nilai_ditambah").value;
    document.getElementById("download_nilai").value = q;
    document.getElementById("upload_nilai").value = q;
  }
</script>


<script>
    function adjustHeight(el){
    el.style.height = (el.scrollHeight > el.clientHeight) ? (el.scrollHeight)+"px" : "46px";
}
</script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap.min.js"></script>




</body>

</html>