<!DOCTYPE html>
<html lang="en">
<head>

<script>
  window.console = window.console || function(t) {};
</script>
        
<script>
if (document.location.search.match(/type=embed/gi)) {
  window.parent.postMessage("resize", "*");
}
</script>

<script>
  $(document).ready(function() {
    $('#example').DataTable();
} );
</script>
        
        
<!-- penting -->


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-title" content="CodePen">
<title>Pilih Materi</title>

<link rel="stylesheet" href="/asset/styless_materi_siswa.css">
<link rel="stylesheet" href="/asset/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/asset/owl.theme.default.css" type="text/css">

<!-- link data table -->   
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap.min.css">

<!--  -->
<link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
<link rel="shortcut icon" type="image/x-icon" href="/image/Group 22.png" />
<link rel="mask-icon" type="" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

</head>

<%- include('container_user'); -%>

      <div class="contents">
        <div class="isi-content">
          <div class="container">

            <div class="judul-content-1" id="judul-content-1">
              <!-- <h3>Dashboard</h3> -->
              <div class="content-1">
                <h1>Pilih Materi </h1>
                <h2>Yang Akan Di Kerjakan</h2>
              </div>
            </div>
  
            <div id="akhir-konten">
            <form id="form_tampil_upload_tugas" action="/home/form_upload_tugas" method="POST">
            <%
                if(materi.length != 0){
                materi.forEach(function(data){
            %>
            <div class="isi-konten3" id="isi-konten3">
              <center><h2 style="text-transform: uppercase;"><%= data.nama_materi %></h2></center>
              <textarea name="" rows="6" cols="" placeholder="Silahkan Masukan Judul Materi" readonly><%= data.deskripsi_materi %></textarea>
              <form id="form_download_file" action="/home/download_file_materi" method="POST">
                <h3>File Materi</h3>
                <input type="text" value="<%= data.isi_materi %>" readonly>
                <button type="submit" name="btn_id_mapel" value="<%= data.id_materi%>" form="form_download_file"><i class="fa fa-download"></i> Unduh</button>
              </form>
              <form id="form_download_quiz" action="/home/download_file_quiz" method="POST">
                <h3>File Quiz</h3>
                <input type="text" value="<%= data.quiz %>" readonly>
                <button type="submit" form="form_download_quiz" name="btn_id_mapel" value="<%= data.id_materi%>"><i class="fa fa-download"></i> Unduh</button>
                <button form="form_tampil_upload_tugas" style="float: right; margin-top: 10px;" type="submit" name="btn_jawab_quiz" value="<%= data.id_materi %>">Jawab Quiz</button>
              </form>
            </div>
            <% }); %>
            <% }; %>
          </form>
            <%- include('footer'); -%>
            </div>
        </div>
      </div>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function() {
    $('#example').DataTable();
} );

  function openNav() {
    document.getElementById("judul-content-1").style.marginLeft = "100px";
    document.getElementById("judul-content-1").style.width = "91%";
    document.getElementById("akhir-konten").style.marginLeft = "100px";
    document.getElementById("akhir-konten").style.width = "91%";
  }

  function closeNav() {
      document.getElementById("judul-content-1").style.marginLeft = "0";
      document.getElementById("isi-konten3").style.marginLeft = "0";
      document.getElementById("judul-content-1").style.width = "100%";
      document.getElementById("isi-konten3").style.width = "100%";
      document.getElementById("akhir-konten").style.marginLeft = "0";
      document.getElementById("akhir-konten").style.width = "100%";
  }
</script>


<script>
    function adjustHeight(el){
    el.style.height = (el.scrollHeight > el.clientHeight) ? (el.scrollHeight)+"px" : "46px";
}
</script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap.min.js"></script>




  
  

</body>

</html>